body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace, Arial, sans-serif;
  color: #141414;
}

h1, h2, h3, p{
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}


.subtitulo{
  grid-row: 1/-5;
  line-height: 1;
  font-size: 9rem;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media(max-width: 800px){
  .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}